$font-display-base: 72px;
$font-display-size5: 60px;
$font-display-size4: 90px;
$font-display-size3: 120px;
$font-display-size2: $font-display-size3 * 2;
$font-display-size1: calc($font-display-size3 / 3 * 8);
$font-display-m: calc($font-display-size3);
$font-display-lg: calc($font-display-size3 + 2.5vw);
$font-display-xl: calc($font-display-size3 + 4.5vw);
$font-display-2xl: calc($font-display-size3 + 5.5vw);

@layer components {
  // font font-display 在main.scss設定為Lato
  .font-lato {
    @apply font-display font-bold;
  }
  // 預設5級大標題font-weight-900 大小70px
  .font-lato-display5 {
    @apply font-display font-black leading-display;
    font-size: $font-display-size5;
  }
  // 預設4級大標題font-weight-900 大小90px
  .font-lato-display4 {
    @apply font-display font-black leading-display;
    font-size: $font-display-size4;
  }
  // 預設3級大標題font-weight-900 大小120px
  .font-lato-display3 {
    @apply font-display font-black leading-display;
    font-size: $font-display-size3;
  }
  // 預設2級大標題font-weight-900 大小240px
  .font-lato-display2 {
    @apply font-display font-black leading-display;
    font-size: $font-display-size2;
  }
  // 預設1級大標題font-weight-900 大小320px
  .font-lato-display1 {
    @apply font-display font-black leading-display;
    font-size: $font-display-size1;
  }
  .font-TC-display {
    @apply text-7xl font-black drop-shadow-dark;
  }
  // 首頁標題字體隨螢幕縮放自適應，letter-spacing對應文字-4%
  .display-title {
    @apply font-display font-black leading-display;
    font-size: calc($font-display-base + 2vw);
    letter-spacing: calc(calc($font-display-base + 2vw) * -0.04);
    @screen md {
      font-size: calc($font-display-base + 4vw);
      letter-spacing: calc(calc($font-display-base + 4vw) * -0.04);
    }
    @screen lg {
      font-size: $font-display-lg;
      letter-spacing: calc($font-display-lg * -0.04);
    }
    @screen xl {
      font-size: $font-display-xl;
      letter-spacing: calc($font-display-xl * -0.04);
    }
    @screen 2xl {
      font-size: $font-display-2xl;
      letter-spacing: calc($font-display-2xl * -0.04);
    }
  }
  // 關於我們頁面-背景透框字體隨螢幕縮放自適應，letter-spacing對應文字-4%
  .display-title-back {
    @apply font-display font-black leading-display;
    font-size: calc(44px + 5vw);
    letter-spacing: calc(calc($font-display-base + 1vw) * -0.04);
    @screen sm {
      font-size: calc($font-display-base + 1vw);
      letter-spacing: calc(calc($font-display-base + 1vw) * -0.04);
    }
    @screen md {
      font-size: calc($font-display-base + 2vw);
      letter-spacing: calc(calc($font-display-base + 2vw) * -0.04);
    }
    @screen lg {
      font-size: calc($font-display-m - 1vw);
      letter-spacing: calc($font-display-m * -0.04);
    }
    @screen xl {
      font-size: calc($font-display-m + 1vw);
      letter-spacing: calc($font-display-m * -0.04);
    }
    @screen 2xl {
      font-size: calc($font-display-m + 1.5vw);
      letter-spacing: calc($font-display-m * -0.04);
    }
  }
  // button類 // 目前會被覆蓋不建議使用
  // 大小，圓角
  // .btn-base {
  //   @apply h-10 p-4 lg:p-6 rounded-btn1;
  // }
  // // 顏色
  // .btn-white-outline {
  //   @apply bg-transparent border-2 hover:bg-primary-foreground hover:text-primary hover:box-shadow-light1-hover btn-base;
  // }
  // .btn-white-blur {
  //   @apply bg-transparent border-2 box-shadow-light2 hover:bg-primary-foreground hover:text-primary hover:box-shadow-light2-hover;
  // }
  // .btn-tiffany-outline {
  //   @apply border-2 border-tiffany text-tiffany hover:bg-tiffany hover:text-primary hover:box-shadow-tiffany-outline-hover;
  // }
  // .btn-tiffany-blur {
  //   @apply border-2 border-tiffany text-tiffany box-shadow-light2 hover:bg-tiffany hover:text-primary hover:box-shadow-tiffany-blur-hover;
  // }
  // .btn-tiffany-fill {
  //   @apply bg-tiffany text-primary;
  // }
  // .btn-pink-outline {
  //   @apply border-2 border-pink text-pink hover:bg-pink hover:text-primary hover:box-shadow-pink-outline-hover;
  // }
  // .btn-pink-blur {
  //   @apply border-2 border-pink text-pink box-shadow-pink-blur hover:bg-pink hover:text-primary hover:box-shadow-pink-blur-hover;
  // }

  .basic {
    @apply flex items-center 
    rounded-btn1 h-10 p-2 md:p-4 lg:p-6;
  }

  // 粉色模糊
  .pink-blur {
    @apply border-2 border-pink text-pink box-shadow-pink-blur hover:bg-pink hover:text-primary hover:box-shadow-pink-blur-hover;
  }

  // 粉色 active
  .pink-fill {
    @apply border-2 border-pink bg-pink text-primary box-shadow-pink-blur-hover;
  }

  // 藍色模糊
  .tiffany-blur {
    @apply border-2 border-tiffany text-tiffany box-shadow-light2 hover:bg-tiffany hover:text-primary hover:box-shadow-tiffany-blur-hover;
  }

  // 藍色 active
  .tiffany-blur-fill {
    @apply border-2 border-tiffany bg-tiffany text-primary box-shadow-tiffany-blur-hover;
  }

  // 藍色乾淨
  .tiffany-outline {
    @apply border-2 border-tiffany text-tiffany hover:bg-tiffany hover:text-primary hover:box-shadow-tiffany-outline-hover;
  }
}
