::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background: linear-gradient(0deg, var(--background), var(--foreground));
  //   background: linear-gradient(0deg, var(--background), rgba(168, 60, 255) 100%);
}

::-webkit-scrollbar-thumb {
  background: transparent;
  box-shadow: 0px 0px 0px 10000vh var(--background);
  border-radius: 8px;
}
